.banner {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

ins {
  display: flex !;
  justify-content: center;
}

ins iframe {
  width: 100vw;
}

.kakao_ad_area {
  margin: 0 auto;
  margin-top: 10px;
  width: 0%;
}
